body {
      background-color: black;
      background-image: url("../images/matrixnumb.gif");
      background-repeat: repeat;
      font-family: 'Press Start 2P', cursive;
      margin: 0;
}

header {
      background-color: black;
      border: 2px solid green;
      color: chartreuse ;
      margin-bottom: 2rem;
      margin-left: 20%;
      margin-right: 20%;
      padding: 3rem;
      text-align: center;
}

form {
      background-color: limegreen;
      border: 2px solid black;
      margin: 0 auto;
      padding: 3rem;
      width: 420px;
}

:placeholder-shown {
      background-color: black;
      width: 80px;
}

::placeholder {
      background-color: black;
      color: chartreuse;
      font-family: 'Press Start 2P', cursive;
}

#submitGuess {
      background-color: black;
      border: 2px solid black;
      border-radius: 10px;
      color: chartreuse;
      font-family: 'Press Start 2P', cursive;
      padding: 10px;
}

.someSpace {
      margin-top: 2rem;
}

table {
      background-color: black;
      border: 2px solid limegreen;
      display: inline;
      margin: 2rem;

}

#tableArea {
      background-color: black;
      border: 2px solid limegreen;
      margin: 0 auto;
      width: 1150px;
}

th, td {
      background-color: black;
      border: 2px solid green;
      color: chartreuse;
      padding: 20px;
}

#newGameNotify {
      color: white;
      background-color: black;
}